@page
@model WebBD_GIBDD.Pages.CarsStolens.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarsStolen[0].DateStolen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarsStolen[0].DateAppeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarsStolen[0].Circumstances)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarsStolen[0].MarkFind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarsStolen[0].DateFind)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarsStolen) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateStolen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAppeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Circumstances)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarkFind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFind)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
